table,
th,
tr,
td {
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
  padding: 10px;
  font-size: 18px;
}


.vegan{
      color: rgb(53, 161, 71);
      font-weight: bold;
}

.vegan:hover{
  cursor: pointer;
}

.wellFed{
    color: grey
}

.notVegan{
    color: black;
    font-weight: bold;
}

.notVegan:hover{
  cursor: pointer;
}